.itemAreaUp
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    background-color: #77adcc;

    height: 120px;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.itemArea
{
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    width: 100%;
}

.imageArea
{
    margin-left: 10px;
    background-color: #5d869e;
}
.imageArea img
{
    width: 100px;
    height: 100px;
}


.itemInfoArea
{
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    margin-left: 20px;
}


.itemFunctionArea
{
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    margin-right: 10px;
}
.itemFunctionArea img
{
    width: 40px;
    height: 40px;
}
